// Raleway

/* Light 300 */
@font-face {
    font-family: 'Raleway';
    src: url('../../fonts/Raleway-Light.woff2') format('woff2'),
        url('../../fonts/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


/* Regular 400 */
@font-face {
    font-family: 'Raleway';
    src: url('../../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../../fonts/Raleway-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Medium 500 */
@font-face {
    font-family: 'Raleway';
    src: url('../../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../../fonts/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../../fonts/Raleway-MediumItalic.woff2') format('woff2'),
        url('../../fonts/Raleway-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

/* SemiBold 600 */
@font-face {
    font-family: 'Raleway';
    src: url('../../fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../../fonts/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Bold 700 */
@font-face {
    font-family: 'Raleway';
    src: url('../../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../../fonts/Raleway-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


// ORBITON


/* Regular 400 */
@font-face {
    font-family: 'Orbitron';
    src: url('../../fonts/Orbitron-Regular.woff2') format('woff2'),
        url('../../fonts/Orbitron-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Medium 500 */
@font-face {
    font-family: 'Orbitron';
    src: url('../../fonts/Orbitron-Medium.woff2') format('woff2'),
        url('../../fonts/Orbitron-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* SemiBold 600 */
@font-face {
    font-family: 'Orbitron';
    src: url('../../fonts/Orbitron-SemiBold.woff2') format('woff2'),
        url('../../fonts/Orbitron-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Bold 700 */
@font-face {
    font-family: 'Orbitron';
    src: url('../../fonts/Orbitron-Bold.woff2') format('woff2'),
        url('../../fonts/Orbitron-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* ExtraBold 800 */
@font-face {
    font-family: 'Orbitron';
    src: url('../../fonts/Orbitron-ExtraBold.woff2') format('woff2'),
        url('../../fonts/Orbitron-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* Black 900 */
@font-face {
    font-family: 'Orbitron';
    src: url('../../fonts/Orbitron-Black.woff2') format('woff2'),
        url('../../fonts/Orbitron-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}