@use 'vars/vars' as *;
@use 'vars/mixins' as *;

.bag {
    margin-bottom: 237px;

    &__inner {}

    &__title {}

    &__title-text {
        font-family: 'Orbitron', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 50px;
        display: block;
    }

    &__title-block {
        color: $primary;
        text-align: right;
        display: block;
        font-size: 50px;
        font-weight: 500;
        font-style: italic;
    }

    &__title-shinobi {
        display: block;
        font-family: 'Orbitron', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 142px;
        text-align: right;
        margin-bottom: 55px;
    }

    &__description {
        color: $text-color;
        font-size: 26px;
        line-height: 155%;
    }

    &__description-accept {
        color: #888888;
        font-weight: 500;
        font-style: italic;
    }

    &__description-block {
        color: $primary;
        padding: 5px 18px;
        background: linear-gradient(180deg,
                #1B1B1B 0%,
                rgba(27, 27, 27, 0) 100%);
        box-shadow: 0px 4px 15px 0px #000000;
        border-radius: 20px;
        font-weight: 500;
        font-style: italic;
        margin-left: 10px;
    }
}

@media(max-width: 920px) {
    .bag__inner {
        max-width: 600px;
        margin: 0 auto;
    }

    span.bag__title-text {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .bag__title-block {
        font-size: 20px;
    }

    .bag__title-shinobi {
        font-size: 35px;
        margin-top: 17px;
        margin-bottom: 20px;
        margin-right: 47px;
    }

    .bag__description {
        font-size: 13px;
    }

    span.bag__description-block {
        display: block;
        width: fit-content;
        margin-top: 20px;
    }
}