@use 'vars/vars' as *;
@use 'vars/mixins' as *;

.disclaimer {
    margin-bottom: 60px;

    &__inner {}

    &__title {
        font-weight: 300;
        font-size: 40px;
        text-transform: uppercase;
        color: #B20000;
        margin-bottom: 21px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
    }

    &__descr {
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        max-width: 1047px;
        color: #ffffff;
        margin: 0 auto;
    }
}

@media(max-width:920px) {
    .disclaimer__inner {
        max-width: 600px;
        margin: 0 auto;
    }

    .disclaimer__title {
        font-size: 30px;
        margin-bottom: 8px;
    }

    .disclaimer__descr {
        font-size: 11px;
    }
}