@use 'vars/vars' as *;
@use 'vars/mixins' as *;

.features {
    margin-bottom: 130px;

    &__inner {
        display: flex;
        align-items: center;
    }

    &__img {
        display: block;
        width: 100%;
        height: 924px;
        position: relative;

        & picture {
            position: absolute;
            bottom: 0;
            left: -170px;
            min-width: 818px;
        }
    }

    &__img-shinobi {
        width: 100%;

    }

    &__title {
        font-size: 90px;
        margin-bottom: 33px;
        margin-right: 74px;
        text-align: right;
    }

    &__list-item {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        margin-bottom: 43px;

        &:first-child {
            .features__list-item-text {
                max-width: 396px;
            }
        }

        &:last-child {
            margin-bottom: 0;

            .features__list-item-text {
                max-width: 400px;
                min-width: 400px;
            }
        }

        &:nth-child(2) {
            .features__list-item-text {
                max-width: 477px;
                min-width: 477px;
            }
        }
    }

    &__list-item-text {
        font-size: 20px;
        text-align: right;
        color: #C3C3C3;
        max-width: 449px;
        margin-right: 36px;
    }

    &__list-accent {
        color: $text-color;
    }
}

.section__arrow.features__arrow {
    margin-top: -42px;
    position: relative;
    z-index: 2;
}

@media(max-width:1200px) {
    .features__img picture {
        min-width: 525px;
        max-width: 600px;
        left: 0;
    }

    .section__arrow.features__arrow {
        display: none;
    }

    .features__img {
        height: auto;
        min-height: 600px;
    }
}

@media(max-width:1100px) {
    .features__img picture {
        left: -100px;
    }
}

@media(max-width:1000px) {
    .features__inner {
        flex-direction: column;
    }

    .features__img picture {
        position: static;

    }

    .features__img {
        min-height: 0;
        margin: 0 auto;
    }

    .features__img {
        max-width: 800px;
    }

    .features__list-item {
        flex-direction: row;

        & p {
            text-align: left;
            margin-right: 0;
            margin-left: 15px;
        }

        & img {
            transform: rotate(180deg);
        }
    }

    .features__title {
        margin-right: 0;
        text-align: left;
        margin-left: 65px;
    }

    .descr {
        margin-bottom: 100px;
    }
}

@media(max-width:920px) {
    .features__inner {
        max-width: 600px;
        margin: 0 auto;
    }

    .descr {
        margin-bottom: 30px;
    }

    .features__title {
        font-size: 35px;
        margin-left: 50px;
        margin-top: 45px;
    }

    .features__list-item:last-child .features__list-item-text {
        max-width: 100%;
        width: 100%;
        min-width: 0;
    }

    .features__list-item:first-child .features__list-item-text {
        max-width: 100%;
        width: 100%;
        min-width: 0;
    }

    .features__list-item:nth-child(2) .features__list-item-text {
        max-width: 100%;
        width: 100%;
        min-width: 0;
    }

    p.features__list-item-text {
        font-size: 15px;
        margin-left: 11px;
        max-width: 100%;
        width: 100%;
        min-width: 0;
    }

    img.features__list-item-img {
        max-width: 38px;
    }

    .features__img picture {
        min-width: 0;
        max-width: 100%;
        width: 100%;
    }
}