@use 'vars/vars' as *;
@use 'vars/mixins' as *;

.footer {
    padding-top: 40px;

    & h4 {
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 22px;
        max-width: 230px;
    }

    &__inner {
        display: flex;
        gap: 76px;
        padding-bottom: 95px;
    }

    &__adrr {
        width: 100%;

        & .footer__location-text:nth-child(3) {
            margin-bottom: 21px;
        }
    }

    &__location-text {
        margin-bottom: 13px;
        font-size: 16px;
        color: #C3C3C3;
        min-width: 238px;
    }

    &__social {
        display: flex;
        flex-wrap: wrap;
        max-width: 200px;
        margin-bottom: 50px;
        gap: 15px 30px;
    }

    &__social-link {
        color: #EBFC56;
        font-size: 18px;
        cursor: pointer;
        transition: all .3s;
        width: 85px;

        &:hover {
            color: $text-color;
            text-decoration: underline;
        }
    }

    &__platform,
    &__company,
    &__resources,
    &__policy {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__platform-link,
    &__company-link,
    &__resources-link,
    &__policy-link {
        font-size: 18px;
        color: #C3C3C3;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            color: $primary;
        }
    }

    &__platform-link {
        min-width: 147px;
    }

    &__policy-link {
        min-width: 210px;
    }
}

.arrow-top {
    max-width: 37px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;

    & img {
        transform: rotate(180deg);
        display: block;
        width: 100%;
    }

}

@media(max-width: 1140px) {
    .footer__inner {
        gap: 30px;
    }
}

@media(max-width: 1000px) {
    .footer__inner {
        // flex-wrap: wrap-reverse;
        // max-width: 700px;
        // margin: 0 auto;
    }

    .footer h4 {
        font-size: 22px;
    }

    button.arrow-top {
        display: none;
    }

    .footer__social {
        margin-bottom: 0;
    }

    .footer {

        &__platform-link,
        &__company-link,
        &__resources-link,
        &__policy-link {
            display: none;
        }
    }
}

@media(max-width: 920px) {
    .footer__inner {
        flex-wrap: wrap-reverse;
        max-width: 600px;
        margin: 0 auto;
    }

    .footer {

        &__platform,
        &__company,
        &__resources,
        &__policy {
            width: fit-content;
        }
    }
}