@use 'vars/vars' as *;
@use 'vars/mixins' as *;

.header {
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: $bg-color;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    &__inner {
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__logo {
        min-width: 92px;
        height: 92px;
        display: block;
        margin-right: 78px;
    }

    &__logo-img {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__nav {
        width: 100%;
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__menu-link {
        display: block;
        font-weight: 400;
        color: $text-color;
        transition: all .3s;
        font-size: 18px;
        cursor: pointer;

        &:hover {
            color: $primary;
        }
    }

    &__account-btn {
        max-width: 271px;
        width: 100%;
        font-weight: 600;
        font-size: 22px;
        padding-top: 10px;
        padding-bottom: 13px;
        color: $primary;
        border: 1px solid $primary;
        border-radius: 50px;
        display: block;
        outline: none;
        background-color: transparent;
        margin-left: 66px;
        transition: all .3s;
        cursor: pointer;

        &:hover {
            background-color: $primary;
            color: $bg-color;
        }
    }

    &__burger {
        display: none;
    }
}

.scroll-lock {
    overflow: hidden;
}

@media(max-width: 1030px) {
    .header__account-btn {
        margin-left: 20px;
    }


    a.header__logo {
        margin-right: 20px;
    }
}

@media(max-width: 920px) {
    .header__logo {
        min-width: 50px;
        height: 50px;
    }

    .header__inner {
        max-width: 600px;
        margin: 0 auto;
    }

    .header__account-btn {
        display: none;
    }

    .header__nav.active {
        visibility: visible;
        opacity: 1;
        transform: translateX(0);
    }

    .header__nav {
        // display: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #000000;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transition: all .3s;
        transform: translateX(-200%);

        & .header__menu {
            flex-direction: column;
            gap: 30px;

            & li a {
                font-size: 20px;
            }
        }
    }

    a.header__logo {
        margin-right: 0;
    }

    .header__inner {
        justify-content: space-between;
    }

    .header__burger {
        z-index: 9;
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 4px 0;
        width: 29px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: all .3s;
        margin: 0;

        & .header__burger-line {
            display: block;
            background-color: $primary;
            width: 100%;
            height: 3px;
            border-radius: 10px;
            transition: all .3s;
        }

        &.active {
            .header__burger-line:nth-child(1) {
                transform: translateY(9px) rotate(45deg);
            }

            .header__burger-line:nth-child(2) {
                opacity: 0;
            }

            .header__burger-line:nth-child(3) {
                transform: translateY(-9px) rotate(-45deg);
            }
        }
    }
}

@media(max-width: 420px) {}