@use 'vars/vars' as *;
@use 'vars/mixins' as *;

.how {
    &__title {
        text-align: center;
        font-size: 75px;
        text-transform: uppercase;
        display: flex;
        gap: 10px;
        margin-bottom: 113px;

        & span {
            background-color: $primary;
            color: $bg-color;
            padding: 2px 18px;
        }
    }

    &__line {
        display: block;
        width: 100%;
        height: 1px;
        background-color: #fff;
    }

    &__list {
        display: flex;
        justify-content: space-around;
    }

    &__list-item {
        position: relative;
        max-width: 320px;
        // width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 12px;
        transition: all .3s;

        &:hover {
            .how__list-item-dot {
                visibility: visible;
                opacity: 1;
            }

            .how__list-item-num {
                color: $primary;
            }

            .how__list-item-content {
                opacity: 1;
                visibility: visible;
                transform: translateY(0px);
            }
        }
    }

    &__list-item-dot {
        width: 32px;
        height: 32px;
        display: block;
        background-color: #fff;
        position: absolute;
        top: -29px;
        opacity: 0;
        visibility: hidden;
        transition: all .2s;
    }

    &__list-item-num {
        font-family: 'Orbitron', sans-serif;
        font-weight: 700;
        font-size: 75px;
        color: #B4B4B4;
        transition: all .5s;

        // &:hover {
        //     color: $primary;
        // }
    }

    &__list-item-content {
        text-align: center;
        color: #B4B4B4;
        font-size: 22px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(20px);
        transition: all .5s;
    }

    &--accent {
        color: $text-color;
    }
}

@media(max-width: 1200px) {
    .how__list-item {
        width: 100%;
    }
}

@media(max-width: 1000px) {
    .how__list-item {
        width: fit-content;
    }

    .how__line {
        display: none;
    }

    ul.how__list {
        flex-direction: column;
        position: relative;
        padding-left: 15px;
        gap: 30px;

        &::before {
            content: "";
            width: 1px;
            height: 100%;
            background-color: #fff;
            position: absolute;
            z-index: 9;
            left: 15px;
        }
    }

    .how__list-item {
        flex-direction: row;
        margin-left: 28px;
    }

    .how__list-item-dot {
        left: -44px;
        top: 50%;
        transform: translateY(-50%);
    }

    p.how__list-item-content {
        // width: 100%;
        max-width: 100%;
        min-width: 0;
        text-align: left;
        margin-left: 20px;
    }

    .how__list-item {
        max-width: 100%;
    }

    .how__list-item-num {
        width: 62px;
    }
}

@media(max-width: 920px) {
    section.how {
        max-width: 600px;
        margin: 0 auto;
    }

    h2.how__title {
        font-size: 30px;
        margin-bottom: 38px;
    }

    p.how__list-item-content {
        font-size: 15px;
    }

    .how__title span {
        padding: 0 6px;
    }

    .how__list-item-dot {
        width: 19px;
        height: 19px;
    }

    .how__list-item-num {
        font-size: 60px;
    }

    .how {
        padding-bottom: 50px;
    }

    .how__list-item-dot {
        left: -36px;
    }
}