@use 'vars/vars' as *;
@use 'vars/mixins' as *;

.not-ready {
    margin-bottom: 100px;

    &__title {
        font-size: 75px;
        font-family: 'Orbitron', sans-serif;
        font-weight: 700;
        margin-bottom: 23px;
    }

    &__sub-title {
        font-size: 26px;
    }

    &__video {
        margin-top: 80px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 490px;
        border: 1px solid $text-color;
    }

    &__video-btn {
        width: 100px;
        height: 100px;
        border-radius: 100px;
        background-color: #fff;
    }
}

@media(max-width: 920px) {
    .not-ready__inner {
        max-width: 600px;
        margin: 0 auto;
    }

    .not-ready__title {
        font-size: 30px;
        margin-bottom: 5px;
    }

    .not-ready__sub-title {
        font-size: 13px;
        margin-bottom: 38px;
    }

    .not-ready__video {
        margin-top: 0;
        height: 227px;
    }

    .not-ready__video-btn {
        height: 50px;
        width: 50px;
    }
}