@use 'vars/vars' as *;
@use 'vars/mixins' as *;

.slider-result {
    margin-bottom: 200px;

    &__title {
        font-size: 75px;
        margin-bottom: 102px;
    }

    &__slide {
        display: block;
        height: auto;
        // width: 841px;
    }

    &__slide-img {
        width: 100%;
        height: 100%;
        // width: 841px;
    }

}



// .mySwiper {
//     width: 100%;
//     display: flex;
//     justify-content: center;
// }


// .swiper-slide.slider-result__slide.swiper-slide-active img {
//     min-width: 840px;
// }

// .swiper-slide.slider-result__slide img {
//     min-width: 600px;
//     height: auto;
//     margin: auto 0;
//     display: block;
// }

// .swiper-slide {
//     transition: transform 0.3s ease, opacity 0.3s ease;
//     transform: scale(0.8);
//     opacity: 0.6;
// }

// .swiper-slide.slider-result__slide {
//     margin-left: 80px;
// }

@media(max-width: 920px) {
    .slider-result__slide-img {
        // min-width: 600px;
        // max-width: 700px;
    }

    .slider-result__title {
        font-size: 30px;
        margin-bottom: 64px;
    }

    .slider-result {
        margin-bottom: 160px;
    }
}

@media(max-width: 500px) {
    .footer__inner {
        max-width: 350px;
    }
}