@use 'vars/vars' as *;
@use 'vars/mixins' as *;

.top {
    margin-top: 178px;
    margin-bottom: 130px;

    &__inner {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    &__title {
        font-family: 'Orbitron', sans-serif;
        text-align: center;
        font-size: 60px;
        max-width: 1039px;
        margin: 0 auto;

        & span {
            font-size: 80px;
            color: $primary;
        }
    }

    &__descr {
        font-weight: 600;
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
        margin: 29px auto;
    }

    &__accent {
        text-align: center;
        color: $primary;
        padding: 13px 25px;
        border-radius: 20px;
        background-color: #1B1B1B;
        max-width: 352px;
        margin: 0 auto 55px;
        font-size: 25px;
    }

    &__reg-btn {
        margin: 0 auto;
    }
}


@media(max-width: 920px) {
    .top {
        margin-top: 150px;
    }

    .top__title {
        font-size: 30px;
    }

    .top__title span {
        font-size: 40px;
    }

    .top__descr {
        margin: 10px 0 26px;
        font-size: 15px;
    }

    .top__accent {
        padding: 12px 16px;
        font-size: 13px;
        margin-bottom: 37px;
    }

    .reg-btn {
        max-width: 243px;
        font-size: 16px;
        padding: 22px 0;
        border-radius: 20px;
    }

    .section__arrow {
        display: none;
    }

    .top__inner {
        max-width: 600px;
        margin: 0 auto;
    }
}

@media(max-width: 420px) {
    .top {
        margin-top: 95px;
        margin-bottom: 95px;
    }
}